{% extends "/layout/base-layout.html.twig" %}

{% block title %}Ошибошка{% endblock %}

{% block content %}
    <div class="divider-large"></div>
    <p class="text-center">{{ message }}</p>
{% endblock %}
